DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

JWT_SECRET_KEY=
JWT_ALGORITHM =
ACCESS_TOKEN_EXPIRE_MINUTES =
REFRESH_TOKEN_EXPIRE_DAYS =

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

EMAIL_FROM=
EMAIL_TLS=True


#    Smtp_passs как получить:
#  1.Зайти в Google Account → Security
#  2.Включить 2-Step Verification
#  3.Появится меню “App Passwords”
#  4.Выбрать “Mail” → “Other (app)”
#  5.Выдаст 16-значный пароль